<!DOCTYPE html>
<html lang="ja">
{% if ( metadata.url === '' ) %}
<head prefix="og:  fb:  website: ">
{% else %}
<head prefix="og:  fb:  article: ">
{% endif %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ENGBODY</title>
  <meta name="description" content="ENGBODYは英会話をしながらトレーニングができるパーソナルジムです。トレーナーはネイティブスピーカー！優しくて盛り上げな上手な外国人トレーナーがしっかりサポートします。">
  <meta property="og:title" content="ENGBODY">
  {% if ( metadata.url === '' ) %}
  <meta property="og:type" content="website"/>
  {% else %}
  <meta property="og:type" content="article"/>
  {% endif %}
  <meta property="og:description" content="">
  <meta property="og:url" content="https://gym-site-engbody.netlify.app/">
  <meta property="og:image" content="https://gym-site-engbody.netlify.app/images/common/ogp.jpg">
  <meta property="og:site_name" content="ENGBODY">
  <link rel="icon" href="images/common/favicon.jpg">
  <link rel="canonical" href="">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  
  {% block css %}{% endblock %}
  <script> </script> <!-- Chromeのページロード時のtransition動作バグ対策 -->
</head>
<body>
  <div id="wrap">
    {% include "_templates/_layouts/_header.html" %}
    <main class="contents">
      {% block body %}{% endblock %}
    </main>
    {% include "_templates/_layouts/_footer.html" %}
  </div>
  {% include "_templates/_foundation/_js.html" %}
  {% block js %}{% endblock %}
</body>
</html>
