{% extends "_templates/_frameworks/_index.html" %}

{% block css %}
{% endblock %}

{% block body %}

<section class="mv">
    <h2 class="mv__text">
        <span class="mv__text--bg">Body Make</span>
    </h2>
    <h2 class="mv__text">
        <span class="mv__text--bg"><span class="mv__text--and">&</span>English</span>
    </h2>
    <div class="mv__subtitle">英会話＆パーソナルトレーニングジム</div>
    <div class="mv__image"></div>
</section>
<!-- {% include "_templates/_icons/_logo_jd.html" %} -->

{% endblock %}

{% block js %}
{% endblock %}