{% extends "_templates/_frameworks/_index.html" %}

{% block css %}
{% endblock %}

{% block body %}

<section class="mv">
    <h1 class="mv__title">
      <div class="mv__text">
        <span class="mv__text--bg">Body Make</span>
      </div>
      <div class="mv__text">
        <span class="mv__text--bg"><span class="mv__text--and">&</span>English</span>
      </div>
    </h1>
    <div class="mv__subtitle">
        <span class="mv__text--color">英会話＆パーソナルトレーニングジム</span>
    </div>
    <a href="#" class="mv__btn btn">無料カウンセリングを受ける</a>
    <div class="mv__image"></div>
</section>

<section class="intro">
  <h2 class="intro__title">YOU CAN <br class="sp">DO IT!</h2>
  <section>
    <h3 class="intro__subtitle">
      英語とトレーニングの<span class="intro__subtitle--pink">蜜月関係</span>
    </h3>
    <div class="intro__text">
      Hey, guys! 英語を話している時ってなんだかテンションが上りませんか？<br>
      バイブス高めでトレーニングをすれば、あなたのベストなパフォーマンスが出せます！<br>
      英語と運動に自信がなくたってOK！<br>
      優しくて盛り上げな上手な外国人トレーナーがしっかりサポートします。<br>
      さぁ、ENGBODYで英語でパーソナルトレーニングを受けましょう。
    </div>
  </section>
</section>

<section class="section about">
  <div class="about__inner">
    <picture class="about__image">
        <source srcset="images/about-training.webp" type=“image/webp”>
        <img src="images/about-training.jpg" alt="トレーニングイメージ" width="950" height="555" loading="lazy">
    </picture>
    <div class="about__description">
      <div class="about__description--cat-pink">Training</div>
      <div class="about__description--summary">
        セッションはすべて英語。<br>
        LAさながらの環境
      </div>
      <div class="about__description--detail">
        ネイティブスピーカーによる50分のパーソナルトレーニングはすべて英語です！アップテンポの洋楽が流れる空間でテンション高めのトレーナーが英語であなたのトレーニングを盛り上げてくれます。ダイエットでよく使う英語をまとめたオリジナルテキストもあるのでスピーキング学習もバッチリです！<br>
        英語に苦手意識がある方は日本人トレーナーも選べますのでご安心してください。
      </div>
    </div>
  </div>
  <div class="about__inner">
    <picture class="about__image">
        <source srcset="images/about-food.webp" type=“image/webp”>
        <img src="images/about-food.jpg" alt="食事イメージ" width="950" height="555" loading="lazy">
    </picture>
    <div class="about__description">
      <div class="about__description--cat-green">Food</div>
      <div class="about__description--summary">
        低糖質レストランを完備！<br>
        美味しく食べてダイエット
      </div>
      <div class="about__description--detail">
        食事制限って大変ですよね......。でも大丈夫！ENGBODY館内には低糖質レストラン『LCR』を完備しています。Low carb（低糖質）なのにとっても美味しい味に驚くはずです！メニューも豊富で飽きさせません。美味しく食べてしっかり痩せる！しかも英語力もアップ！それがENGBODYなのです。
      </div>
    </div>
  </div>
</section>

<section class="section trainer">
  <svg class="top-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 25">
    <path d="M375,240.667l-20.833,1.38c-20.833,1.484-62.5,4.089-104.167,1.406-41.667-2.786-83.333-11.12-125-15.286S41.667,224,20.833,224H0v25H375Z" transform="translate(0 -224)" fill="#eb51c2"/>
  </svg>
  <section class="trainer__inner">
    <h2 class="trainer__title">
      Our Trainer
      <span class="trainer__subtitle">トレーナー</span>
    </h2>
    <div class="container">
      <div class="tab-nav">
        <div class="tab">トレーナー</div>
        <div class="tab">スタッフ</div>
      </div>
      <div class="tab-member">
        <div class="tab-member__list">
          <picture class="tab-member__image">
            <source srcset="images/trainer01.webp" type=“image/webp”>
            <img src="images/trainer01.jpg" alt="トレーナ−01" width="360" height="350" loading="lazy">
          </picture>
          <div class="tab-member__text">
            こんにちは！英語で楽しくトレーニングしましょう。日本語が話せますのでご安心ください。
          </div>
        </div>
        <div class="tab-member__list">
          <picture class="tab-member__image">
            <source srcset="images/trainer02.webp" type=“image/webp”>
            <img src="images/trainer02.jpg" alt="トレーナ−02" width="360" height="350" loading="lazy">
          </picture>
          <div class="tab-member__text">
            Hello! 筋肉をつけすぎずしなやかな体を作ることが得意です！美しさを磨いていきましょう。
          </div>
        </div>
        <div class="tab-member__list">
          <picture class="tab-member__image">
            <source srcset="images/trainer03.webp" type=“image/webp”>
            <img src="images/trainer03.jpg" alt="トレーナ−03" width="360" height="350" loading="lazy">
          </picture>
          <div class="tab-member__text">
            Hi, 負荷や強度の高いトレーニングがしたいならおまかせてください！どんなご要望もできるかぎり叶えますよ！
          </div>
        </div>
      </div>
    </div>
    
  </section>
  <svg class="bottom-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 25">
    <path id="wave" d="M375,240.667l-20.833,1.38c-20.833,1.484-62.5,4.089-104.167,1.406-41.667-2.786-83.333-11.12-125-15.286S41.667,224,20.833,224H0v25H375Z" transform="translate(375 249) rotate(180)" fill="#eb51c2"/>
  </svg>
</section>

{% endblock %}

{% block js %}
{% endblock %}