{% extends "_templates/_frameworks/_index.html" %}

{% block css %}
{% endblock %}

{% block body %}

<section class="mv">
    <h1 class="mv__title">
      <div class="mv__text">
        <span class="mv__text--bg">Body Make</span>
      </div>
      <div class="mv__text">
        <span class="mv__text--bg"><span class="mv__text--and">&</span>English</span>
      </div>
    </h1>
    <div class="mv__subtitle">
        <span class="mv__text--color">英会話＆パーソナルトレーニングジム</span>
    </div>
    <a href="#" class="mv__btn btn">無料カウンセリングを受ける</a>
    <div class="mv__image"></div>
</section>

{% endblock %}

{% block js %}
{% endblock %}