.section {
    padding: 30px 0;
    @include sp{
        padding: 20px 0;
    }
}

.container {
    padding: 0 30px;
    max-width: 1200px;
    margin: 0 auto;
    @include sp{
        padding: 0 20px;
    }
}

.btn {
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    color: $grayscale_white;
    text-align: center;
    transition: all 0.3s;
    border-radius: 50px;
    background-color: $color_main;

    &:hover {
        opacity: 0.8;
    }
}